/** zeta-web-layui 公共样式 */

/** 容器 */
.z-container {
  padding: var(--layout-content-padding)!important;
}

.z-search-layout {
  margin-bottom: 8px;
}

/** TODO: 辅助类...  */

.z-text-center {
  text-align: center
}

/** 辅助类：文字不允许选中 */
.z-user-select-none {
  -webkit-user-select: none;
  user-select: none;
}
